src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    
    <flow name="book-my-holidays-exp-api-main">
        <http:listener config-ref="book-my-holidays-exp-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="book-my-holidays-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="book-my-holidays-exp-api-console">
        <http:listener config-ref="book-my-holidays-exp-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="book-my-holidays-exp-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\flights\(emailID)\(bookingID):book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="d7de8690-adc8-4e85-8098-cc4da814ba2c" name="deleteFlightBookings"/>
    </flow>
    <flow name="delete:\cars\booking\(bookingId):book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bookingId: 1,
  message: "Your booking has been cancelled"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\flights:application\json:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="b6904796-979c-414b-9408-6ae23fabf82d" name="updateFlightBookings"/>
    </flow>
    <flow name="patch:\hotels\updateHotelBooking:application\json:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="d193ff9d-875e-445f-82fc-d29e4af2c558" name="updateHotelBooking"/>
    </flow>
    <flow name="patch:\cars\booking\(bookingId):application\json:book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bookingId: 7,
  message: "Your booking has been confirmed."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\hotels\cancelHotelBooking\(hotelBookingID):book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="38292dfb-dd57-4b24-8325-9b5a944cfcf0" name="cancelHotelBooking"/>
    </flow>
    <flow name="get:\flights:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="8a0074b1-6f98-4882-a4fc-1dcab4fea1b6" name="getAllFlights"/>
    </flow>
    <flow name="get:\hotels\listAllBookings:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="20d2831d-721c-4955-b206-2fd9e8511ced" name="listAllHotelBookings"/>
    </flow>
    <flow name="get:\cars\searchCars:book-my-holidays-exp-api-config">
		<flow-ref doc:name="searchCars" doc:id="9590b2bb-0370-40e1-a5d0-f18cdf9fb36e" name="searchCars"/>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    typeOfCar: "Sedan",
    date: "2021-01-01",
    time: "12:00:00",
    priceRange: "100-200",
    carId: 555,
    vendorName: "OLA",
    vendorId: 1,
    pickUpPoint: "Delhi Rly Station",
    dropPoint: "Delhi Airport"
  }, 
  {
    typeOfCar: "HatchBack",
    date: "2021-02-02",
    time: "10:00:00",
    priceRange: "150-250",
    carId: 666,
    vendorName: "UBER",
    vendorId: 2,
    pickUpPoint: "Delhi Rly Station",
    dropPoint: "Delhi Airport"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\cars\booking\(bookingId):book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="bookingId">attributes.uriParams.'bookingId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="getCarBookingById" doc:id="e1a42753-f06d-476b-8423-84f3c3ae5659" name="getCarBookingById"/>
    </flow>
    <flow name="get:\hotels\(city):book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="92574e27-c1ff-4acc-92b5-305e51fef278" name="getHotels"/>
    </flow>
    <flow name="get:\flights\(emailID):book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="d19bcf5a-022d-445c-8c83-ebfa8cbbe813" name="getAllFlightUserBookings"/>
    </flow>
    <flow name="get:\cars\myBookings\(emailId):book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="emailId">attributes.uriParams.'emailId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    bookingId: 123,
    typeOfCar: "Sedan",
    date: "2021-01-01",
    time: "12:00:00",
    price: "100",
    carId: 333,
    vendorName: "OLA",
    vendorId: 1,
    emailId: "abc@gmail.com",
    firstName: "Pankaj",
    lastName: "Nanda",
    pickUpPoint: "Amritsar",
    dropPoint: "Delhi"
  }, 
  {
    bookingId: 789,
    typeOfCar: "Hatchback",
    date: "2021-02-02",
    time: "10:00:00",
    price: "150",
    carId: 444,
    vendorName: "UBER",
    vendorId: 2,
    emailId: "xyz@gmail.com",
    firstName: "Pankaj",
    lastName: "Nanda",
    pickUpPoint: "Jammu",
    dropPoint: "Delhi"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\hotels\listAllBookings\(hotelBookingID):book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="3007ec81-4da6-4597-94ff-ff7fc9ab066c" name="listHotelBooking"/>
    </flow>
    <flow name="post:\cars\addNewCars:application\json:book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Your request has been successfully processsed"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\hotels\book:application\json:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="01078c5d-dda5-4371-95f4-842878191de8" name="bookHotel"/>
    </flow>
    <flow name="post:\cars\booking:application\json:book-my-holidays-exp-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  bookingId: 7,
  message: "Your booking has been confirmed."
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\flights:application\json:book-my-holidays-exp-api-config">
		<flow-ref doc:name="Flow Reference" doc:id="63a2fa99-4480-4312-9f07-13e080d11865" name="createFlightBookings"/>
    </flow>
</mule>
