src/main/mule/carsSubFlows/getCarBookingByIdSF.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:car-booking-process-api="http://www.mulesoft.org/schema/mule/car-booking-process-api" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/car-booking-process-api http://www.mulesoft.org/schema/mule/car-booking-process-api/current/mule-car-booking-process-api.xsd">
	<flow name="getCarBookingByIdSF" doc:id="a6e17e1a-a8c6-41df-94d1-f67817072505" >
		<car-booking-process-api:get-booking-by-booking-id doc:name="Get booking by booking id" doc:id="b1e360db-d388-4d86-9a21-71c47133e149" config-ref="Car_Booking_Process_API_Config" booking-id="#[vars.bookingId]" client-id="${carsAPI.client_id}" client-secret="${carsAPI.client_secret}"/>
	</flow>
</mule>
